<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/SealCircle.png"/>
        <span id="welcomeHeader">BIENVENUE SUR DEMONCRAFT</span>
        <span id="welcomeDescription">Vous voilà plonger dans un monde remplie d'obscure démons, des êtres sanguinaires contre lesquelles vous devrez faire vriller la lame de votre katana, achevant votre adversaire avant que celui-ci ne le fasse avant vous. Dans DemonCraft vous incarnerez un chasseur de démon, vous choisirez votre sabre, apprendrez des technique spectaculaire. Peut-être deviendrez vous le plus puissant chasseur de démon de ce monde...</span>
        <br>
        <span id="welcomeDescCTA">Vous n'êtes qu'à quelque clicks de cette univers fantastique...</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>